.App-header {
  background-color: #282c34;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
}
.data-table-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.card img {
  width: 100%;
}

.card h5 {
  margin-top: 10px;
}

.gnome-details, .gnome-professions, .gnome-friends {
  padding: 10px;
  text-align: left;
}

.gnome-friends ul li a {
  font-size: 0.9em;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}